@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;1,100;1,300;1,400&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

body{
  min-height: 100vh;

}

.container{
  width: 50%;
  height: 100px;
  margin: 10% auto;
}
.todo-header {
  background-color: #1e3ce4;
  padding: 30px 40px;
  color: #ffffff;
  text-align: center;
  
  box-shadow: 0 1px 5px 0px rgba(71, 78, 83, 0.123);
}



.todo-header:after{
  content: "";
  display: table;
  clear: both;
}

.todo-header input{

  border:none;
 
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
  border-radius: 999px;
}
.todo-header input:focus{
  border: none;
}
.todo-header .addList{
  padding: 10px;
  width: 25%;
  background: transparent;
  color: #fff;;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 999px;
  border: 2px solid #fff;
}

.todo-header .addBtn:hover {
  background-color: #bbb;
}

.todo-header h2{
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 0;
}

.todo-list svg {
  width: 15px;
  height: 15px;
}

.btn-primary {
  background: linear-gradient(60deg, blue, transparent);
  padding: 10px;
  border-radius: 999px;
  width: 100px;
  border: 1px solid #fff;
  
}

.todo-list__icons {
  display: flex;
  justify-content: space-between;
  width: 35px;
}
ul.todo-list {
 
  list-style-type: none;
  box-shadow: 0px 5px 15px 0px #666;
}

ul.todo-list li{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  /* padding: 12px 40px 12px 40px; */
  padding: 20px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

 
/*Making the list items unselectable    */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul.todo-list li:nth-child(odd){
  background: #e4e2e2;

}
 

ul.todo-list li:hover{
  background: #ddd;
  color: rgb(0, 0, 0);
}
ul.todo-list li.checked{
  background: #00ff55;
  color: #fff;
  text-decoration: line-through;
  border-bottom: 0.5px solid black;
 
}

ul.todo-list li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}


